<script id="menuTemplate" type="text/html">
  <header class="bw-header">
		<div class="bw-menu"> 
			{{{ menu  }}}
		</div>
    <div class="bw-wrapper">
      <div class="bw-header-logo">
        <a href="/"><img src="{{ logo }}" /></a>
      </div>
      <div class="bw-search">
        <input type="text" placeholder="Search">
      </div>
      <menu class="bw-menu-button">
        <span>Menu</span>
      </menu>
			<div class="bw-donate">
							{{{ donate }}}
			</div>
    </div>
  </header>
</script>
