<script id="menuTemplate" type="text/html">
  <header class="bw-header">
    <div class="bw-wrapper">
      <div class="bw-header-logo">
        <a href="/"><img src="{{ logo }}" /></a>
      </div>
      <div class="bw-search">
        <input type="text" placeholder="Search">
      </div>
      <menu class="bw-menu">
        <span>Menu</span>
      </menu>
    </div>
  </header>
  <section class="bw-history">
    <div class="bw-wrapper">
      <ol>
        <li><label>History</label></li>
        <li><a href="#">Maginot Line</a></li>
        <li><a href="#">World War II</a></li>
        <li><a href="#">Cuban Revolution</a></li>
        <li><a href="#">Tulip Mania</a></li>
        <li><a href="#">Dog</a></li>
        <li><a href="#">Cat</a></li>
        <li><a href="#">Bruins</a></li>
        <li><a href="#">Maginot Line</a></li>
        <li><a href="#">World War II</a></li>
        <li><a href="#">Dog</a></li>
        <li><a href="#">Cat</a></li>
        <li><a href="#">Bruins</a></li>
        <li><a href="#">Maginot Line</a></li>
        <li><a href="#">World War II</a></li>
        <li><a href="#">Dog</a></li>
        <li><a href="#">Cat</a></li>
        <li><a href="#">Bruins</a></li>
        <li><a href="#">Maginot Line</a></li>
        <li><a href="#">World War II</a></li>
      </ol>
    </div>
  </section>
</script>
